body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.cromo {
    text-align: center;
    padding: 20px;
    border: 5px solid darkblue;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    margin: 10px 0;
    transition: color 0.3s ease;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
}